body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Cor base */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f0ede4; /* Tonalidade mais clara da cor base */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #8b4513; /* Cor escura para contraste */
}

.meta {
    margin-bottom: 20px;
}

.meta h2 {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #8b4513; /* Cor escura para contraste */
}

.ruler {
    background-color: #f5deb3;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress {
    background-color: #000000; /* Cor do progresso */
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
}

.percentage {
    display: block;
    text-align: right;
    margin-top: 5px;
    font-size: 14px;
    color: #8b4513; /* Cor escura para contraste */
}

button {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #76c7c0; /* Cor do botão */
    color: white; /* Cor do texto */
    cursor: pointer;
}

button:hover {
    background-color: #66b0a8; /* Cor do botão ao passar o mouse */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #bdb3b3; /* Cor da trilha */
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #d2691e; /* Cor do thumb */
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-track {
    background: #e0e0e0; /* Cor da trilha no Firefox */
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20 px;
    background: #76c7c0; /* Cor do thumb no Firefox */
    border-radius: 50%;
    cursor: pointer;
}

.slider:hover {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
}